@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-bounce-short {
    animation: bounce-short 1s infinite;
  }
  @keyframes bounce-short {
    0%, 100% {
      transform: translateY(-10%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
    
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
